<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workout.workoutcom.dao.user.UserMapper">

    <!-- 회원가입 -->
    <insert id="registerUser" parameterType="com.workout.workoutcom.dto.user.UserDto">
        INSERT INTO users (account,password,name,email,ph,userCreatedAt,userUpdatedAt)
        VALUES (#{account},#{password},#{name},#{email},#{ph},now(),now())
    </insert>


    <!-- 회원정보 조회 -->
    <select id="getUserInfoByAccount" parameterType="String" resultType="com.workout.workoutcom.dto.user.UserDto">
        SELECT account,password,name,email,ph,userCreatedAt,userUpdatedAt
        FROM users
        WHERE account = #{account}
    </select>

    <!-- 비밀번호 변경 -->
    <update id="updateUserPassword" parameterType="com.workout.workoutcom.dto.user.UserDto">
        UPDATE users
        SET password = #{password}
        WHERE account = #{account}
    </update>

    <!-- 회원 정보 조회 -->
<!--    <select id="getUserInfoByAccount" parameterType="String" resultType="com.workout.workoutcom.dto.user.UserDto">-->
<!--        SELECT userAccount AS account ,userPw AS password,userName AS name,userEmail AS email,userPh AS ph,userCreatedAt-->
<!--        FROM users-->
<!--        WHERE userAccount = #{userAccount}-->
<!--    </select>-->

</mapper>