<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workout.workoutcom.dao.user.UserMapper">

    <!-- 회원가입 -->
    <insert id="registerUser" parameterType="com.workout.workoutcom.dto.auth.UserDto">
        INSERT INTO users (userAccount,userPw,userName,userEmail,userPh,userCreatedAt,userUpdatedAt)
        VALUES (#{account},#{password},#{name},#{email},#{ph},now(),now())
    </insert>


    <select id="getUserInfoByAccount" parameterType="String" resultType="com.workout.workoutcom.dto.auth.UserDto">
        SELECT userAccount,userPw,userName,userEmail,userPh,userCreatedAt,userUpdatedAt
        FROM users
        WHERE userAccount = #{account}
    </select>
</mapper>