<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workout.workoutcom.api.foodSafety.dao.FoodSafetyMapper">
    <!-- 음식 저장-->
    <insert id="insertFoodRecord" parameterType="com.workout.workoutcom.api.foodSafety.dto.FoodInfoDto">
        INSERT INTO foodrecord (foodName,recorderAccount,foodKcal,foodCarbo,foodProtein,foodFat,foodRecordedDate,dietCategory,foodWeight)
        VALUES (#{foodName},#{recorderAccount},#{foodKcal},#{foodCarbo},#{foodProtein},#{foodFat},#{foodRecordedDate},#{dietCategory},#{foodWeight});
    </insert>

    <!-- 과거 식단 조회 -->
    <select id="selectFoodRecord" parameterType="String" resultType="com.workout.workoutcom.api.foodSafety.dto.FoodInfoDto">
        SELECT recorderAccount,foodKcal,foodCarbo,foodProtein,foodFat,foodRecordedDate,foodName,dietCategory,foodWeight,foodRecordId
        FROM foodrecord
        WHERE recorderAccount = #{recorderAccount}
        AND foodRecordedDate = #{specificDate}
    </select>

    <!-- 식단 상세 -->
    <select id="selectFoodDetail" parameterType="int"  resultType="com.workout.workoutcom.api.foodSafety.dto.FoodInfoDto">
        SELECT recorderAccount,foodKcal,foodCarbo,foodProtein,foodFat,foodRecordedDate,foodName,dietCategory,foodWeight,foodRecordId
        FROM foodrecord
        WHERE foodRecordId = #{foodRecordId}
    </select>

    <!-- 기록한 식사 수정 -->
    <update id="updateFoodDetail" parameterType="com.workout.workoutcom.api.foodSafety.dto.FoodInfoDto">
        UPDATE foodrecord
        SET foodKcal = #{foodKcal},foodCarbo=#{foodCarbo},foodProtein=#{foodProtein},foodFat=#{foodFat},foodRecordedDate=#{foodRecordedDate},foodWeight=#{foodWeight}
        WHERE foodRecordId = #{foodRecordId}
        AND recorderAccount = #{recorderAccount}
    </update>

    <!-- 기록한 식사 삭제 -->
    <delete id="deleteFoodDetail" parameterType="int">
       DELETE FROM foodrecord
       WHERE foodRecordId = #{foodRecordId}
    </delete>
    




</mapper>